<div id="git">
  <h3>Git</h3>

  <p>
    Git is a version control system that helps you track changes to files and collaborate with others.
    In this workshop, we will also use <a href="https://github.com/">GitHub</a> to share code.
  </p>

  <p>
    Please make sure Git is installed and that you can sign in to GitHub before the workshop.
  </p>

  <h4>Create a GitHub account</h4>

  <p>
    You will need a free <a href="https://github.com/">GitHub</a> account for this lesson.
    If you already have one, please make sure you can sign in before the workshop.
  </p>

  <ol>
    <li>Go to <a href="https://github.com/">github.com</a> and create an account.</li>
    <li>Verify your email address.</li>
    <li>Set up multifactor authentication if GitHub prompts you to do so.</li>
  </ol>

  <p>
    You may also want to review GitHub's
    <a href="https://help.github.com/articles/keeping-your-email-address-private/">
      instructions for keeping your email address private
    </a>.
  </p>

  <div>
    <ul class="nav nav-tabs os-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#git-windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#git-macos" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#git-linux" role="tab" data-toggle="tab">Linux / WSL</a></li>
    </ul>

    <div class="tab-content">

      <article role="tabpanel" class="tab-pane active" id="git-windows">
        <ol>
          <li>
            Git is installed as part of Git Bash. If you completed the Shell setup, you should already have Git.
          </li>
          <li>Open <strong>Git Bash</strong>.</li>
          <li>Run:</li>
        </ol>

<pre><code>git --version</code></pre>

        <p>
          You should see a version number, such as <code>git version 2.x.x</code>.
        </p>
      </article>

      <article role="tabpanel" class="tab-pane" id="git-macos">
        <ol>
          <li>Open the <strong>Terminal</strong> application.</li>
          <li>Run:</li>
        </ol>

<pre><code>git --version</code></pre>

        <p>
          If Git is not installed, you may be prompted to install the Command Line Tools.
          Follow the prompts to complete installation.
        </p>

        <p>
          After installation, run <code>git --version</code> again to confirm it is working.
        </p>
      </article>

      <article role="tabpanel" class="tab-pane" id="git-linux">
        <ol>
          <li>Open a terminal.</li>
          <li>Run:</li>
        </ol>

<pre><code>git --version</code></pre>

        <p>
          If Git is not installed, use your package manager. For example:
        </p>

<pre><code>sudo apt-get install git</code></pre>

        <p>
          Then run <code>git --version</code> again to confirm installation.
        </p>
      </article>

    </div>
  </div>

  <h4>Test your setup</h4>

  <p>
    Run <code>git --version</code>. You should see a version number.
    Also make sure you can sign in to your GitHub account.
  </p>

  <h4>If something goes wrong</h4>

  <ul>
    <li>If <code>git --version</code> is not found, Git is not installed yet.</li>
    <li>Try restarting your terminal after installing Git.</li>
    <li>If you cannot sign in to GitHub, reset your password or finish email verification before the workshop.</li>
    <li>If you get stuck, stop and we will help you during the workshop.</li>
  </ul>
</div>
