<div id="shell">
  <h3>The Bash Shell</h3>

  <p>
    Bash is a command-line tool that lets you work with files and folders by typing commands.
    For this lesson, you will need a Unix-like shell environment and the lesson data.
  </p>

  <p>
    Please complete the setup below before the workshop. If you get stuck, stop and we will help you during the workshop.
  </p>

  <div>
    <ul class="nav nav-tabs os-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#shell-windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#shell-macos" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#shell-linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">

      <article role="tabpanel" class="tab-pane active" id="shell-windows">
        <ol>
          <li>
            Download and install <a href="https://gitforwindows.org/">Git for Windows</a>.
            This gives you both Git and Git Bash.
          </li>
          <li>
            Use the default installer options.
          </li>
          <li>
            Open <strong>Git Bash</strong> from the Start Menu.
          </li>
          <li>
            Run:
          </li>
        </ol>

<pre><code>ls
pwd</code></pre>

        <p>
          You should see a list of files and folders, then the location of your current folder.
        </p>
      </article>

      <article role="tabpanel" class="tab-pane" id="shell-macos">
        <ol>
          <li>
            Open <strong>Terminal</strong>. You can find it in <code>/Applications/Utilities</code> or by using Spotlight Search.
          </li>
          <li>
            If your terminal opens in zsh, that is okay. To switch to Bash for the lesson, run:
          </li>
        </ol>

<pre><code>bash</code></pre>

        <ol start="3">
          <li>
            Test your shell by running:
          </li>
        </ol>

<pre><code>ls
pwd</code></pre>

        <p>
          You should see a list of files and folders, then the location of your current folder.
        </p>
      </article>

      <article role="tabpanel" class="tab-pane" id="shell-linux">
        <ol>
          <li>
            Open your terminal application.
          </li>
          <li>
            If your default shell is not Bash, run:
          </li>
        </ol>

<pre><code>bash</code></pre>

        <ol start="3">
          <li>
            Test your shell by running:
          </li>
        </ol>

<pre><code>ls
pwd</code></pre>

        <p>
          You should see a list of files and folders, then the location of your current folder.
        </p>
      </article>

    </div>
  </div>

  <h4>Download the lesson data</h4>

  <ol>
    <li>
      Download <a href="https://librarycarpentry.github.io/lc-shell/data/shell-lesson.zip">shell-lesson.zip</a>.
    </li>
    <li>
      Move the file to your <strong>Desktop</strong>.
    </li>
    <li>
      Unzip or extract the file. You should end up with a folder on your Desktop called <code>shell-lesson</code>.
    </li>
  </ol>

  <h4>Test your setup</h4>

  <p>
    Open your shell and run:
  </p>

<pre><code>ls
pwd</code></pre>

  <p>
    If you can type commands and see output, your shell is ready. During the workshop, we will use the <code>shell-lesson</code> folder on your Desktop.
  </p>

  <h4>If something goes wrong</h4>

  <ul>
    <li>If you are on Windows, make sure you are opening <strong>Git Bash</strong>, not Command Prompt or PowerShell.</li>
    <li>If you cannot find the data, check that <code>shell-lesson</code> is on your Desktop.</li>
    <li>If you get stuck, stop and we will help you during the workshop.</li>
  </ul>
</div>
