<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Monday, May 11, Tidy Data</h3>
    <table class="table table-striped">
      <tr><td>09:00</td><td>Welcome & Setup Check</td></tr>
      <tr><td>09:15</td><td>Tidy Data: Introduction & Spreadsheet Basics</td></tr>
      <tr><td>10:00</td><td>Formatting Data Tables & Common Problems</td></tr>
      <tr><td>10:30</td><td><strong>Break</strong></td></tr>
      <tr><td>10:45</td><td>Dates as Data & Quality Control</td></tr>
      <tr><td>11:30</td><td>Exporting Data & File Formats</td></tr>
      <tr><td>12:00</td><td>Wrap-up</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Tuesday, May 12, Command Line (Shell)</h3>
    <table class="table table-striped">
      <tr><td>09:00</td><td>Introduction to the Shell</td></tr>
      <tr><td>09:30</td><td>Navigating the Filesystem</td></tr>
      <tr><td>10:15</td><td>Working with Files and Directories</td></tr>
      <tr><td>10:30</td><td><strong>Break</strong></td></tr>
      <tr><td>10:45</td><td>Automating with Loops</td></tr>
      <tr><td>11:30</td><td>Counting and Mining with the Shell</td></tr>
      <tr><td>12:00</td><td>Wrap-up</td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3: Wednesday, May 13, Git & GitHub</h3>
    <table class="table table-striped">
      <tr><td>09:00</td><td>What is Git and GitHub?</td></tr>
      <tr><td>09:30</td><td>Getting Started: Config & Commits</td></tr>
      <tr><td>10:15</td><td>Sharing your Work on GitHub</td></tr>
      <tr><td>10:30</td><td><strong>Break</strong></td></tr>
      <tr><td>10:45</td><td>Collaborating & Resolving Conflicts</td></tr>
      <tr><td>11:30</td><td>GitHub Pages for Librarians</td></tr>
      <tr><td>12:00</td><td>Wrap-up</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <div class="alert alert-info" style="margin-top: 20px;">
      <strong>Mid-Workshop Break:</strong> No sessions Thursday, May 14 – Sunday, May 17.
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 4: Monday, May 18, OpenRefine</h3>
    <table class="table table-striped">
      <tr><td>09:00</td><td>Introduction to OpenRefine</td></tr>
      <tr><td>09:30</td><td>Importing & Exploring Data</td></tr>
      <tr><td>10:15</td><td>Faceting and Filtering</td></tr>
      <tr><td>10:30</td><td><strong>Break</strong></td></tr>
      <tr><td>10:45</td><td>Clustering & Working with Columns</td></tr>
      <tr><td>11:30</td><td>Transformations (GREL) & Exporting</td></tr>
      <tr><td>12:00</td><td>Wrap-up</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 5: Tuesday, May 19, Python (Part 1)</h3>
    <table class="table table-striped">
      <tr><td>09:00</td><td>Python: Variables & Types</td></tr>
      <tr><td>09:45</td><td>Lists & Built-in Functions</td></tr>
      <tr><td>10:30</td><td><strong>Break</strong></td></tr>
      <tr><td>10:45</td><td>Libraries & Introduction to Pandas</td></tr>
      <tr><td>11:30</td><td>For Loops & Looping Over Datasets</td></tr>
      <tr><td>12:00</td><td>Wrap-up</td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 6: Wednesday, May 20, Python (Part 2)</h3>
    <table class="table table-striped">
      <tr><td>09:00</td><td>Advanced Pandas & Filtering Data</td></tr>
      <tr><td>10:00</td><td>Conditionals & Writing Functions</td></tr>
      <tr><td>10:30</td><td><strong>Break</strong></td></tr>
      <tr><td>10:45</td><td>Data Visualization with Python</td></tr>
      <tr><td>11:30</td><td>Post-workshop Survey & Wrap-up</td></tr>
      <tr><td>12:00</td><td>End of Workshop</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <!-- Layout Balance -->
  </div>
</div>
