<div id="spreadsheets-setup">
  <h3>Spreadsheet Software</h3>
  <p>
    To interact with spreadsheets in this lesson, we will use
    <a href="https://products.office.com/en-us/excel">Microsoft Excel</a>. If you don't have access to Excel, we recommend using Google Sheets. Google Sheets is free with a (free) Google or Gmail account. You can sign in at <a href="https://workspace.google.com/products/sheets/">Google Workspace</a>. 
    There are other free spreadsheet tools that you can use, though we may not have time to answer questions during the workshop about differences between all of these:
    <a href="https://www.libreoffice.org">LibreOffice</a>, 
    <a href="https://www.gnumeric.org">Gnumeric</a>, 
    <a href="https://www.openoffice.org">OpenOffice.org</a>. 
    Commands may differ a bit between programs, but general ideas for thinking about spreadsheets is the same.
  </p>

</div>

{% include install_instructions/shell.html %}

<br/>

{% include install_instructions/openrefine.html %}

<br/>

{% include install_instructions/git.html %}

<br/>

{% include install_instructions/python.html %}
